.form {
    border: solid black 1px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.table-edit {
    height: 400px;
    width: 500px;
    margin-top: 30px;
    overflow: scroll;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, td {
    border: solid black 1px;
    padding: 5px;
}

label {
    text-align: center;
    height: fit-content;
}

input {
    height: fit-content;
    width: fit-content;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    margin-bottom: 15px;
}